
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */