 /*HTML COMPONENTS*/
/*html,body,#root,.wrapper{*/
    /*height:100%;*/
/*}*/
ul{
    list-style-type: none;
    margin:0;

}

p{
    margin:0;
}
 /*MAKING SCROLLBAR INVISIBLE*/
 ::-webkit-scrollbar {
     width: 0px;  /* remove scrollbar space */
     background: transparent;  /* optional: just make scrollbar invisible */
 }

 /*::-webkit-scrollbar-thumb {*/
 /*}*/

 body{
     font-family: 'Montserrat', sans-serif;

 }

/* COMPONENTS */
.wrapper{
    display:flex;
    flex-wrap:wrap;
    background-color: #f2f4f7;
    height:100vh;
    overflow:hidden;
}

.sidebar{
    width:15%;
    background-color:#288acc;
    overflow:auto;
}

.viewer{
    width:85%;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap:wrap;
    align-content:flex-start;
    overflow:auto;

}

.item-viewer{
    margin-top:1%;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;

}

.item{
    height:10%;
    width:40%;
    display:flex;
    justify-content: center;
    background-color: #514f4f;
    margin-top:1em;
    word-wrap:break-word;

}

.item > button{
    width:100%;
    height:100%;
}

.menu{
    position:absolute;
    top:20%;
    left:30%;
    width:50%;
    height:60%;
    background-color: #d7dae0;
    color:black;
    display:inline-block;
    font-weight: lighter;
    border:3px solid #686b70;
}

.menu-item{
    width:100%;
    padding-left:1%;
    font-weight:700;
}
.menu  textarea{
    height:10rem;
}


.hide-background{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.9);
}


.toolkit-item{
    width:100%;
    border-bottom:1px solid black;
}

.toolkit-item > form{
    padding-left:3%;
    display:flex;
    flex-wrap:wrap;
    position:relative;
}

.toolkit-item > form > label {
    padding-right:3%;
    width:25%;
}

.toolkit{
    width:100%;
    display:flex;
    justify-content: center;
    padding-bottom:1%;
}

.toolkit ul{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #164463;
}

.button.toolkit-item{
    background-color: #164463;
}

/* FOUNDATION OVERWRITE */
 .button{
    margin:0;
    width:100%;
}

.item-adder-button-image{
    margin: 1.5rem 0 1rem 0;
    max-height:4rem;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    border: 1px solid #cacaca;
}

 .item-adder-button{
     width: 10%;
     height:20%;
     max-height:5em;
     padding:0;
     position:absolute;
     right:0;
     bottom:0;
     min-height:2rem;
     /*margin-left:auto;*/
 }

 .homepage{
     width:100%;
     text-align:center;

 }

 .active-category{
     width:100%;
     text-align:center;
     font-weight: 700;
     padding-bottom: 0.5em;
 }

 .welcome{
     width:100%;
     color:#1779ba;
     font-size:6rem;
     letter-spacing: 0.2rem;
 }

 .homepage > form{
     padding-top:5%;
     display:flex;
     justify-content: center;
     flex-wrap:wrap;
 }

 .homepage > form > label{
     width:100%;
 }

 .homepage > form > label > input{
     width:30%;
     margin-left:auto;
     margin-right:auto;
 }

 .homepage > form > label > .login-button{
     width:30%;
 }

 .welcome-below{
     width:100%;
     font-size:1.1rem;
 }

.menu-buttons{
    display:flex;
    justify-content: flex-end;
    font-weight: 700;
}

.menu-buttons > button{
    width:20%;
}

/*WARNING, INFORMATIONS ETC. */
 .no-items-warning{
     width:100%;
     text-align:center;
 }

 .category-item-delete{
     position: absolute;
     right:0;
     top:0;
     background-color: #8e2222;
     height:100%;
     width:15%;
    opacity:0;
     transition:all 0.4s ease-in-out;
     color:white;
 }

 .category-item-delete:hover{
     cursor:pointer;
 }

 .sidebar-button{
     position:relative;
 }



 .sidebar-button:hover  .category-item-delete{
     transition:all 0.4s ease-in-out;
     opacity:1;
 }